---
import Layout from "@/layouts/Layout.astro"
import type { GetStaticPaths } from "astro"
export const getStaticPaths = (() => {
    return [
        {
            params: {
                album: "calls",
            },
        },
    ];
}) satisfies GetStaticPaths;

const { album } = Astro.params;
---

<Layout title={`${album}'s album`}>
    {album}
    <div
        class="cursor-pointer flex-shrink-0 no-underline text-inherit hover:text-inherit w-[320px] bg-zinc-950/20 rounded-md border-2 border-zinc-800/50 overflow-hidden hover:bg-zinc-800/20 hover:border-zinc-700/40 transition-all"
    >
    aa
    </div>
</Layout>
