---
import AlbumPreview from "@/components/feat/AlbumPreview.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="joyolababy's albums">
	<div class="flex flex-wrap gap-1 justify-center">
		<AlbumPreview />
		<AlbumPreview />
		<AlbumPreview />
		<AlbumPreview />
		<AlbumPreview />
		<AlbumPreview />
		<AlbumPreview />
		<AlbumPreview />
		<AlbumPreview />
		<AlbumPreview />
	</div>
</Layout>
